.wp-block {
	max-width: 1000px;
}

.call-to-action .btn {
	padding: .5rem 2rem;
    background: #00a950;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
}

.call-to-action .btn-secondary {
	background: #47357c;
}