.top-bar {
	padding: .5rem 1rem;
	background: $primary;
	color: $white;
	text-align: right;
	font-size: 1.15rem;

	a {
		margin: 0 .5rem;
		color: $white;
	}

	.header-cart {
		display: inline-block;
		.woocommerce-Price-amount {
			color: $white;
		}
	}
}

.top-header-bar {
	padding: .75rem 2rem;
	background: darken($secondary, 15%);
	font-size: 1rem;
	color: $white;
	text-align: center;

	a {
		color: $primary;
		font-weight: bold;
	}

	@include media-breakpoint-up(md) {
		.top-bar-left {
			text-align: left;
		}

		.top-bar-center {
			text-align: center;
		}
	
		.top-bar-right {
			text-align: right;
		}
	}
	
}

.navbar .navbar-nav {
	.nav-item {
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}
	.nav-link {
		position: relative;
		color: $black;
		font-size: .85rem;
		font-family: $headings-font-family;

		&:hover {
			color: $primary;
		}
	
		@include media-breakpoint-up(lg) {
			padding-left: 1rem;
			padding-right: 1rem;
			font-size: 1rem;
		}
	}
}

.navbar .navbar-nav > li:last-child {
	border: 2px solid $black;
	border-radius: 3px;
	transition: 0.2s;

	.dropdown-menu {
		color: $black;
		text-align: right;
	}

	&:hover {
		transition: 0.2s;

		a {
			transition: 0.2s;
		}

		.dropdown-menu {
			a {
				color: $black;
			}
		}
	}
}

.navbar-toggler {
	i {
		font-size: 2rem;
	}
}

.dropdown:hover>.dropdown-menu {
  display: block;
  //For animation
  max-height: 400px;
  opacity: 1;

  a {
  	text-align: right;
  }
}
.dropdown>.dropdown-menu {
  margin: 0;
  left: initial;
  right: 0;
  // For animation
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}