.woocommerce-Price-amount {
	color: $primary;
}

a.added_to_cart {
	margin-top: 1rem;
	padding: .5rem;
	border-radius: 6px;
	background: $secondary;
	color: $white;
	width: 100%;
	text-align: center;

	&:hover {
		color: $white;
		background: darken($secondary, 10%);
	}
}

.wc-stripe-elements-field, .wc-stripe-iban-element-field,
#add_payment_method #payment ul.payment_methods .stripe-card-group, .woocommerce-checkout #payment ul.payment_methods .stripe-card-group {
	width: 100%;
}